---
import type { MarkdownHeading } from 'astro';
import * as CONFIG from '../config';

//import '../styles/index.css';
import '../styles/new.css';
import "@/styles/global.scss";

import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import { getCollection } from 'astro:content';
import Footer from '@/components/docs/Footer/Footer.svelte';
import Header from '@/components/docs/Header/Header.svelte';
import SideNav from '@/components/docs/SideNav/SideNav.svelte';
import Article from '@/components/docs/Article/Article.svelte';
import TeletypeContainer from '@/components/Teletype/TeletypeContainer.astro';
import NextPreviousButtons from '@/components/docs/Article/NextPreviousButtons.astro';

type Props = {
	frontmatter: CONFIG.Frontmatter;
	headings: MarkdownHeading[];
};

const { frontmatter, headings } = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;
const githubEditUrl = `${CONFIG.GITHUB_EDIT_URL}/${currentFile}`;

const isManual = currentPage.startsWith("/manual");
const isMigration = currentPage.startsWith("/migration");
const isDocs = currentPage.startsWith("/docs");

const baseTitle = isManual ? 'Space Manual' : isMigration ? 'Migration Hub' : 'Space Docs';

//const ACTIVE_PAGE = (await getCollection("docs")).find(e => `/docs/en/${e.id.split(".")[0]}` === currentPage) || { title: "d"};
const ACTIVE_PAGE = (await getCollection("docs", (e => {
    if ((e.id.endsWith("index.md") || e.id.endsWith("index.mdx")) && e.id.split("/").slice(0, -1).join("/") === currentPage) return true;
    return `/docs/en/${e.id.split(".")[0]}` === currentPage; // TODO: Can move to e.slug? remove weird split
})))[0];
---

<html dir={frontmatter.dir ?? 'ltr'} lang={frontmatter.lang ?? 'en-us'} class="initial">
	<head>
		<HeadCommon />
		<HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} />
		<title>
			{frontmatter.title ? `${frontmatter.title} - ${baseTitle}` : CONFIG.SITE.title}
		</title>
	</head>

	<body data-instant-intensity="5">
        <Header client:load frontmatter={frontmatter} headings={headings} currentPage={currentPage} />
        <main>
            <SideNav navTree={CONFIG.NAV_TREE} currentPage={currentPage} client:load/>
            <Article frontmatter={frontmatter} headings={headings} currentPage={currentPage} client:load>
                <slot/>
                <br>
                <NextPreviousButtons currentPage={currentPage} />
            </Article>
            <!--<Footer />-->
        </main>
		<TeletypeContainer />
        <script src="/other_assets/instant-page.js" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
	</body>
</html>

<style lang="scss">
    main {
        min-height: 100%;
        max-width: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: var(--header-height) auto auto;
//        grid-template-rows: auto auto;

        //isolation: isolate;
        position: relative;
    }
</style>